@import "./variables";

:root {

  --title-background: #000;
  --title-text: #F6F6F6;
  
  --background: #FFF;
  --color: #{$text-color};
  --primary: #{$primary};
  --input-border: #666;
  --disabled: #999;

  --red: #{$header};
  --amber: #FFBF00;
  --green: #5A5;

  --background: #FFF;
  --color: #{$text-color};
  --header: #{$header};
  --header-bright: #F00;
  --header-text: #FFF;
  --footer: #{$footer};
  --footer-text: #FFF;
  --hover: #ECECEC;

  --box-background: rgba(0,0,0,0.03);
  --box-border: rgba(0,0,0,0.1);
  --table-stripe: var(--box-background);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222;
    --color: #EEE;
    --header: #620000;
    --header-bright: #800;
    --header-text: #EEE;
    --footer: var(--header);
    --footer-text: #EEE;
    --hover: #6E6E6E;
    --box-background: rgba(255, 255, 255, 0.06);
    --table-stripe: var(--box-background);
  }
}

.light {
  --background: #FFF;
  --color: #{$text-color};
  --header: #{$header};
  --header-bright: #F00;
  --header-text: #FFF;
  --footer: #{$footer};
  --footer-text: #FFF;
  --hover: #ECECEC;
  --box-background: rgba(0,0,0,0.03);
  --table-stripe: var(--box-background);
  --hover: #AADCF7;
}

.dark {
  --background: #222;
  --color: #EEE;
  --header: #620000;
  --header-bright: #800;
  --header-text: #EEE;
  --footer: var(--header);
  --footer-text: #EEE;
  --hover: #6E6E6E;
  --box-background: rgba(255, 255, 255, 0.06);
  --table-stripe: var(--box-background);
}