@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$header: rgb(194,0,0);
$footer: rgb(194,0,0);
$text-color: rgb(33,33,33);

$primary-fonts: 'Open Sans', 'Franklin Gothic', Helvetica, 'Helvetica Neue', Arial, sans-serif;
$secondary-fonts: 'Open Sans Condensed';
$primary: #007bff;
