div.upload {
    height: 200px;
    width: 200px;
    z-index: 2;
    border: 1px solid #ccc;
    position: relative;

    i {
        font-size: 4rem;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        color: #e5e5e5;
    }

    label {
        height: 100%;
        width: 100%;
    }

    input[type="file"] {
        display: none;
    }

    div {
        width: 90%;
        margin: 35% auto;
        height: 100%;

        span {
            display: block;
            text-align: center;

            &:last-child {
                font-weight: normal;
            }
        }
    }
}
