.transactions {
    th:nth-child(1) {
        width: 10%;
    }

    th:nth-child(2) {
        width: 60%;
    }

    th:nth-child(3) {
        width: 10%;
    }

    th:nth-child(4) {
        width: 20%;
    }

    .sortable {
        cursor: pointer;

        &.ascending::before {
            content: '\1F815'
        }

        &.descending::before {
            content: '\1F817'
        }
    }

}

.filter-panel {

    .form-row {
        display: flex;
        gap: 10px;
    }

    .form-group {
        margin: 0;
        display: flex;

        &.description {
            flex-grow: 2;
        }
    }

    .form-check{
        padding-top: 5px;
    }

    .form-label { 
        //display: inline;
        padding-top: 5px;
        padding-right: 10px;
    }

   }

/*.transaction-list-header {
    display: flex;
    gap: 10px;

    .account-summary {
        width: 50%;
    }
}*/