@model ErrorModel
@{
    ViewBag.Title = "Error";
}
<section class="row error">
    <figure class="col-md-4">
        <img src="@Url.Content($"~/images/{Model.Image}.png")" alt="@Model.HttpError" />
    </figure>
    <div class="col-md-8 large">
        @Model.Message
    </div>
</section>