@model ErrorModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
    <header>
        <div id="logo"></div>
    </header>
    <nav role="navigation" class="nav navbar navbar-inverse">
        <div class="container-fluid">
            <div id="menu" class="collapse navbar-collapse">
                <ul id="Menu" class="nav navbar-nav">
                    <li><a href="/">Home</a></</li>
                </ul>
            </div>
        </div>
    </nav>
    <article>
        <header></header>
        <div class="container min-height">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <section class="row error">
                        <figure class="col-md-4">
                            <img src="@Url.Content($"~/images/{Model.Image}.png")" alt="@Model.HttpError" />
                        </figure>
                        <div class="col-md-8 large">
                            @Model.Message
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </article>
    <footer>
        Copyright &copy; Andrew McLachlan 2013. All rights reserved.<br />
        <a href="http://www.andrewmclachlan.com">www.andrewmclachlan.com</a>
    </footer>
</body>
</html>
