; Top-most EditorConfig file
root = true

; 4-column space indentation
[*]
indent_style = space
indent_size = 4

[*.{config,xml,html,xsd,xsl,xslt,cshtml,html,csproj,proj,msbuild,vbproj,vstemplate,transform}]
indent_size = 2

[*.json]
indent_size = 2

[*.cs]
dotnet_style_predefined_type_for_locals_parameters_members = true : warning
dotnet_style_predefined_type_for_member_access = false : warning
dotnet_style_require_accessibility_modifiers = for_non_interface_members : warning

dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true

csharp_indent_case_contents = true
csharp_indent_switch_labels = true

csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true