@model Asm.BankPlus.Models.LoginModel

@{
    ViewBag.Title = "Login";
}
<section class="login">
    <header>
        <h1>Login</h1>
    </header>

    @using (Html.BeginForm())
    {
        <div class="fieldGroup">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { type = "email" })
        </div>
        <div class="fieldGroup">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
        </div>
        <input type="submit" value="Login" />
        <div class="clear"> </div>
    }
</section>