.transaction-details {
    display: grid;
    grid-template-columns: 100px calc(100% - 100px);
    row-gap: 10px;

    h4 {
        font-weight: bold;
    }

    .value {
        font-weight: bold;
    }
}
