@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(./fonts/OpenSansCondensed.eot);
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(./fonts/OpenSansCondensed.woff) format('woff'), url(./fonts/OpenSansCondensed.ttf) format('truetype'), url(./fonts/OpenSansCondensed.eot) format('embedded-opentype');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/OpenSansCondensedBold.eot);
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(./fonts/OpenSansCondensedBold.woff) format('woff'), url(./fonts/OpenSansCondensedBold.ttf) format('truetype'), url(./fonts/OpenSansCondensedBold.eot) format('embedded-opentype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url(./fonts/OswaldLight.eot);
  src: local('Oswald Light'), local('Oswald-Light'), url(./fonts/OswaldLight.woff) format('woff'), url(./fonts/OswaldLight.ttf) format('truetype'), url(./fonts/OswaldLight.eot) format('embedded-opentype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Oswald.eot);
  src: local('Oswald Regular'), local('Oswald-Regular'), url(./fonts/Oswald.woff) format('woff'), url(./fonts/Oswald.ttf) format('truetype'), url(./fonts/Oswald.eot) format('embedded-opentype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/OswaldBold.eot);
  src: local('Oswald Bold'), local('Oswald-Bold'), url(./fonts/Oswald.woff) format('woff'), url(./fonts/OswaldBold.ttf) format('truetype'), url(./fonts/OswaldBold.eot) format('embedded-opentype');
}