.rainbow {

    color: #FFF;

    &.rainbow-0 { background-color: #003f5c; }
    &.rainbow-1 { background-color: #2f4b7c; }
    &.rainbow-2 { background-color: #665191; }
    &.rainbow-3 { background-color: #a05195; }
    &.rainbow-4 { background-color: #d45087; }
    &.rainbow-5 { background-color: #f95d6a; }
    &.rainbow-6 { background-color: #ff7c43; }
    &.rainbow-7 { background-color: #ffa600; }
    &.rainbow-8 { background-color: #00876c; }
    &.rainbow-9 { background-color: #3d996e; }
    &.rainbow-10 { background-color: #62aa6f; }
    &.rainbow-11 { background-color: #86ba71; }
    &.rainbow-12 { background-color: #acca74; }
    &.rainbow-13 { background-color: #d2d87a; }
    &.rainbow-14 { background-color: #fae684; color: #666 }
    &.rainbow-15 { background-color: #f9cb6e; }
    &.rainbow-16 { background-color: #f7b15d; }
    &.rainbow-17 { background-color: #f29553; }
    &.rainbow-18 { background-color: #eb794e; }
    &.rainbow-19 { background-color: #e15c4e; }
    &.rainbow-20 { background-color: #d43d51; }
}