@{
    ViewBag.Title = "Refresh Balances";
}

<section>
    <header>
        <h2>Refresh Balances</h2>
    </header>
    @using (Html.BeginForm())
    {
        <label for="password">Email Password</label>
        <input name="password" id="password" type="password" />
        <input type="submit" value="Go" />
    }
</section>
