div.upload-box {
    height: 200px;
    width: 200px;
    z-index: 2;
    border: 1px solid #ccc;
    position: relative;

    svg {
        font-size: 4rem;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
        opacity: 0.1;
    }

    label {
        height: 100%;
        width: 100%;
    }

    input[type="file"] {
        display: none;
    }

    div {
        width: 100%;
        margin: 0 auto;
        top: 35%;
        position: absolute;

        span {
            display: block;
            text-align: center;

            &:last-child {
                font-weight: normal;
            }
        }
    }
}
