<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BankPlusContext" connectionString="metadata=res://*/BankPlus.csdl|res://*/BankPlus.ssdl|res://*/BankPlus.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=BankPlus;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MailHost" value="imap-mail.outlook.com" />
    <add key="MailPort" value="993" />
    <add key="MailUser" value="amc_home@hotmail.com" />
    <add key="Mailbox" value="Banking/NAB/Alerts" />
    <add key="AppName" value="MooBank"/>
    <add key="Skin" value="MooBank"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index" timeout="2880" defaultUrl="~/Home/Index" />
    </authentication>
    
    <membership defaultProvider="UserService">
      <providers>
        <clear />
        <add name="UserService" type="Asm.UserService.Security.ServiceMembershipProvider, Asm.UserService.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=17abf68b566afc7b" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="UserService">
      <providers>
        <clear />
        <add name="UserService" serviceId="4" type="Asm.UserService.Security.ServiceRoleProvider, Asm.UserService.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=17abf68b566afc7b" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <handlers>
      <add name="text"  path="*" verb="PATCH,PUT,DELETE" type="System.Web.DefaultHttpHandler" />
    </handlers>
  </system.webServer>
  
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IUserService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAuthenticationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:11111/UserService/UserService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUserService" contract="UserService.IUserService" name="UserService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:11111/UserService/AuthenticationService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthenticationService" contract="AuthenticationService.IAuthenticationService" name="AuthenticationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>