<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="BankPlusContext" connectionString="metadata=res://*/BankPlus.csdl|res://*/BankPlus.ssdl|res://*/BankPlus.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=BankPlusDemo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <roleManager>
      <providers>
        <clear />
        <add name="UserService" serviceId="5" type="Asm.UserService.Security.ServiceRoleProvider, Asm.UserService.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=17abf68b566afc7b" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      </providers>
    </roleManager>
  </system.web>

</configuration>
