header.page-header {
    width: 100%;
    background-color: var(--title-background);
    color: var(--title-text);

    h2 {
        padding: 5px 0;
    }
}

.secondary-nav {
    button {
        font-size: 1.4rem;
    }

    .nav {
        display: flex;
        justify-content: space-between;
    }
}
