.filter-panel {

    legend {

        padding-bottom: 10px;

        svg {
            margin-right: 10px;
        }
    }

    .form-row {
        display: flex;
        gap: 10px;
    }

    .form-group {
        margin: 0;
        display: flex;

        &.description {
            flex-grow: 2;
        }
    }

    .form-check {
        padding-top: 5px;
    }
}