html, body, #root, main {
  height: 100%;
  font-family: $primary-fonts;
}

main {
    display: flex;
    flex-direction: column;
  
    & > footer
    {
  
      ul {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
  
      li {
        padding: 0 5px;
      }
    } 
  }

  article {
    flex: 1 0 auto;
    background-color: var(--background);
    color: var(--color);
  }