.transaction-details {
display: flex;

    h4 {
        font-weight: bold;
    }

    .value {
        font-weight: bold;
    }

    section {
        flex: 1;
        display: grid;
        grid-template-columns: 140px calc(100% - 140px);
        row-gap: 10px;
    }

    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--bs-body-color);
    margin-bottom: 1.5rem;
}

.splits .row:not(:first-child),
.offsets .row:not(:first-child) {
    margin-bottom: 20px;
}

.delete-offset {
    position: relative;

    svg {
        position: absolute;
        right: 50%;
        top: 50%;
    }
}

.transaction-details-extra2 {
    /*grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 110px 250px 110px 250px;
    row-gap: 10px;*/
    display: flex;

    > div {
        display: flex;
    }

    label {
        width: 150px;
    }
}