.transaction-details {
    display: grid;
    grid-template-columns: 110px calc(100% - 110px);
    row-gap: 10px;

    h4 {
        font-weight: bold;
    }

    .value {
        font-weight: bold;
    }
}

.delete-offset {
    position: relative;

    svg {
        position: absolute;
        right: 50%;
        top: 50%;
    }
}

.transaction-details-extra {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 110px 250px 110px 250px;
    row-gap: 10px;
}