.transaction-details {
    h4 {
        font-weight: bold;
    }

    .value {
        font-weight: bold;
    }
}

.transaction-info {
    display: flex;

    section {
        flex: 1;
        display: grid;
        grid-template-columns: 140px calc(100% - 140px);
        row-gap: 10px;
    }

    margin-bottom: 1rem;
}

.offset-for {
    display: flex;

    div {
        flex: 1;
    }

    margin-bottom: 1rem;
}

.notes, .offsets {
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--bs-body-color);
    margin-bottom: 1.5rem;
}

.splits .row,
.offsets .row,
.splits .row:not(:first-child),
.offsets .row:not(:first-child) {
    margin-bottom: 20px;
}

.delete-offset {
    display: flex;
    align-items: center;
    justify-content: center;
}
