.transactions-header {
    .section:first-child {
        flex-basis: 400px;
        flex-shrink: 1;
    }

    .section:last-child {
        flex-grow: 1;
    }
}

.transactions .transaction-head {
    th:nth-child(1) {
        width: 5%;
    }

    th:nth-child(2) {
        width: 50%;
    }

    th:nth-child(3) {
        width: 10%;
    }

    th:nth-child(4) {
        width: 5%;
    }

    th:nth-child(5) {
        width: 5%;
    }
}

/*.transactions .transaction-head-ing {
    th:nth-child(1) { width: 10%; }
    th:nth-child(2) { width: 30%; }
    th:nth-child(3) { width: 5%; }
    th:nth-child(4) { width: 5%; }
    th:nth-child(5) { width: 10%; }
    th:nth-child(6) { width: 8%; }
    th:nth-child(7) { width: 10%; }
    th:nth-child(8) { width: 34%; }
}*/

.transactions .transaction-head-ing {
    th:nth-child(1) { width: 10%; }
    th:nth-child(2) { width: 30%; }
    th:nth-child(3) { width: 10%; }
    th:nth-child(4) { width: 10%; }
    th:nth-child(5) { width: 10%; }
    th:nth-child(6) { width: 10%; }
    th:nth-child(7) { width: 20%; }
}

.net-amount {
    opacity: 0.7;
    font-size: 0.8em;
    margin-left: 0.5em;
}
