.report {
    &.inout, &.budget {
        max-height: 300px;
        padding-bottom: calc(50px + 2rem);

        display: grid;
        grid-template-areas:
            "header total"
            "chart chart";
        grid-template-columns: 1fr max-content;
        align-items: center;

        h2 {
            grid-area: header;
        }
        h4 {
            font-weight: bold;
            grid-area: total;
        }
        div, .spinner, canvas {
            grid-area: chart;
        }
    }

    &.inout-trend {
        max-height: 800px;
        padding-bottom: calc(50px + 2rem);
    }
}
