.transactions {
    th:nth-child(1) {
        width: 10%;
    }

    th:nth-child(2) {
        width: 60%;
    }

    th:nth-child(3) {
        width: 10%;
    }

    th:nth-child(4) {
        width: 20%;
    }

    .sortable {
        cursor: pointer;

        &.ascending::before {
            content: '\1F815'
        }

        &.descending::before {
            content: '\1F817'
        }
    }

}

/*.transaction-list-header {
    display: flex;
    gap: 10px;

    .account-summary {
        width: 50%;
    }
}*/