html {
    background-color: #56c489;
}

body > header {
    background: url(../images/background.png) no-repeat #56c489;
}

body > footer {
    background-color: #56c489;
}

section.login {
    background: url(../images/background.png) no-repeat #56c489;
}