@layer mooapp, layout, moobank;

@import "~/@andrewmclachlan/mooapp/dist/index.css" layer(mooapp);
@import "css/layout" layer(layout);
@import "css/budget" layer(moobank);
@import "css/rainbow" layer(moobank);
@import "css/components" layer(moobank);
@import "css/filterPanel" layer(moobank);
@import "css/transactions" layer(moobank);
@import "css/treeflex";

@layer moobank {

    .demo {
        .amount, .badge {
            filter: blur(8px);
        }
    }

    .negative {
        color: rgb(204, 0, 0);
    }

    .alert {
        margin-bottom: 0;
    }

    .clear {
        clear: both;
    }

    th.expander {
        width: 32px;
    }

    /*#region Headings*/
    legend {
        display: none;
    }

    /*#endregion*/

    /*#region Tables*/
    .table {
        tfoot {
            /*border-top: 2px double #000;*/
            border-top-style: double;

            td {
                vertical-align: middle;
            }

            button.btn {
                font-weight: bold;
                outline: none;
            }
        }
    }

    /*#endregion*/

    fieldset {
        position: relative;
        border: 1px solid var(--bs-border-color);
        padding: 20px;
        padding-top: 15px;
        border-radius: 6px;

        legend {
            display: block;

            font-size: 1.5rem;
            padding: 0 5px;
            margin: 0;
        }
    }

    table .balance {
        text-align: right;
    }

    .horizontal-form-controls {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &::before {
            content: '';
            height: 1.5rem;
            flex: 0 0 auto;
        }

        button {
            align-self: start;
        }
    }

    .control-panel {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    legend svg {
        transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    legend.open svg {
        transform: rotate(-180deg);
    }

    .description {
        white-space: pre-wrap;
    }

    .empty-row {
        height: 4rem;
    }

    .report canvas {
        max-height: calc(100vh - 415px);
        max-width: 100%;
    }

    .visualiser {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .section-row {
        --bs-gutter-y: 1.5rem;
    }

    .net-worth.key-value {
        font-size: 1.2em;

        > :first-child {
            font-weight: 500;
        }

        > :last-child {

            font-weight: 600;
        }
    }

    @media (max-width: 767px),
    (max-device-width: 767px) {

        table.accounts {

            th:first-child {
                width: auto;
            }

            td.account .name,
            .accountName {
                font-weight: bold;
            }

            td.account .description {
                font-size: 0.9em;
            }
        }
    }

    @media screen and (max-width: 767px) {
        .container-fluid.second-header>.actions {
            display: none;
        }
    }
}

h2 {
    @media screen and (max-width: 768px) {

    }
}

.pagination {
    @media screen and (max-width: 768px) {
        justify-content: center;
    }
}

section.upload {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .upload-box {
        width: inherit;
    }
}

.section.table {

    border-collapse: separate;
    border-spacing: 0;
    border-radius: 2px;
    padding: 0;

    thead th {
        border-top-left-radius: 2px;
    }

    thead th {
        border-top-right-radius: 2px;
    }

    tfoot td {
        border-width: 0;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}
