@layer mooapp, moobank;

@import "~/@andrewmclachlan/mooapp/dist/index.css" layer(mooapp);
@import "css/budget" layer(moobank);
@import "css/rainbow" layer(moobank);
@import "css/components" layer(moobank);
@import "css/filterPanel" layer(moobank);
@import "css/transactions" layer(moobank);

@layer moobank {

    @media (prefers-color-scheme: dark) {

        .table {
            --bs-table-striped-bg: rgba(0, 0, 0, 0.5);
        }
    }

    .light {
        color-scheme: light;
        --breadcrumb-background: #1a1919;

        .table {
            --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
        }
    }

    .dark {
        color-scheme: dark;

        .table {
            --bs-table-striped-bg: rgba(0, 0, 0, 0.5);
        }
    }

    .negative {
        color: rgb(204, 0, 0);
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: inline;
    }

    .alert {
        margin-bottom: 0;
    }

    .clear {
        clear: both;
    }

    th.expander {
        width: 32px;
    }

    /*#region Headings*/
    legend {
        display: none;
    }

    /*#endregion*/

    /*#region Forms*/
    input,
    select,
    textarea {
        font-family: "Inter", "Open Sans", "Segoe UI", Arial, sans-serif;
    }

    input.description {
        width: 500px;
    }

    input[type="submit"] {
        color: #fff;
        background: linear-gradient(to bottom, #111 0%, #3a3a3a 50%, #000 50%, #000 100%);
        border: none;
        border-radius: 5px;
        padding: 5px 20px;
    }

    /*#endregion*/

    /*#region Tables*/

    table {
        border-spacing: 0;
    }

    .table {
        tfoot {
            /*border-top: 2px double #000;*/
            border-top-style: double;

            td {
                vertical-align: middle;
            }

            button.btn {
                font-weight: bold;
                outline: none;
            }
        }
    }

    /*#endregion*/

    section.actions {
        input[type="submit"] {
            font-size: 1.1em;
        }
    }

    .input-group-prepend {
        font-size: 1.5rem;
        margin-right: 0;
    }

    fieldset {
        position: relative;
        border: 1px solid var(--bs-border-color);
        padding: 20px;
        padding-top: 15px;
        border-radius: 6px;

        legend {
            display: block;

            font-size: 1.5rem;
            padding: 0 5px;
            margin: 0;
        }
    }

    input[type="checkbox"] {
        margin-right: 5px;
    }

    table .balance {
        text-align: right;
    }

    .horizontal-form-controls {
        display: flex;
        align-items: flex-end;
    }

    .control-panel {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    legend svg {
        transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    legend.open svg {
        transform: rotate(-180deg);
    }

    .description {
        white-space: pre-wrap;
    }

    .empty-row {
        height: 54px;
    }

    .report canvas {
        max-height: calc(100vh - 415px);
        max-width: 100%;
    }

    .tf-tree {
        overflow: visible;

        .tf-nc {
            border-color: var(--bs-body-color);
            border-width: 2px;
            border-radius: 15px;
            min-width: 100px;
            min-height: 75px;
            display: flex;
            place-items: center;
            text-align: center;
            justify-content: center;
            line-height: 1.2em;
            font-weight: 500;

            span {
                mix-blend-mode: difference;
            }

            &:after {
                height: 1.1em;
                mix-blend-mode: normal;
            }
        }

        li {
            li:before {
                border-color: var(--bs-body-color);
                border-width: 2px;
            }

            li:last-child:before {
                left: auto;
                max-width: calc(50% + 0.12em);
                right: calc(50% - 0.09em);
            }

            border-color: var(--bs-body-color);
            border-width: 2px;
        }
    }

    .tf-tree .tf-nc:after,
    .tf-tree .tf-nc:before,
    .tf-tree .tf-node-content:after,
    .tf-tree .tf-node-content:before {
        border-color: var(--bs-body-color);
        border-width: 2px;
    }

    .tf-tree li li:only-child>.tf-nc:before,
    .tf-tree li li:only-child>.tf-node-content:before {
        height: 1.2625em;
        top: -1.2625em;
    }

    .visualiser {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .section-row {
        --bs-gutter-y: 1.5rem;
    }

    td {
        height: 52px;
    }

    input.form-control:read-only {
        background-color: var(--bs-disabled-bg);
        cursor: default;

        &:focus {
            box-shadow: none;
            border-color: var(--bs-border-color);
            background-color: var(--bs-disabled-bg);
        }
    }

    .net-worth.key-value {
        font-size: 1.2em;

        > :first-child {
            font-weight: 500;
        }

        > :last-child {

            font-weight: 600;
        }
    }

    .offcanvas-backdrop.show,
    .modal-backdrop.show {
        backdrop-filter: blur(1px) grayscale(0.5) brightness(0.5);
    }

    .offcanvas-backdrop.fade,
    .modal-backdrop.fade {
        opacity: 1;
    }

    .offcanvas-backdrop,
    .modal-backdrop {
        background-color: transparent;
    }

    @media (max-width: 767px),
    (max-device-width: 767px) {

        table.accounts {
            font-size: 0.8rem;


            th:first-child {
                width: auto;
            }

            td.account .name,
            .accountName {
                font-weight: bold;
            }

            td.account .description {
                font-size: 0.9em;
            }
        }
    }

    @media screen and (max-width: 767px) {
        .container-fluid.second-header>.actions {
            display: none;
        }
    }
}