@media (max-width: 767px), (max-device-width: 767px) {

    table.accounts {
        font-size: 0.8rem;


        th:first-child {
            width: auto;
        }

        td.account .name, .accountName {
            font-weight: bold;
        }

        td.account .description {
            font-size: 0.9em;
        }
    }
}

@include media-breakpoint-down(md) {
    .container-fluid.second-header > .actions {
        display: none;
    }
}
