.report {

   /* h3 {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        font-size: 2rem;
    }

    &.doughnut h3 {
        margin-left: -80px;
    }*/
}

.inout {
    max-height: 300px;
    padding-bottom: calc(50px + 2rem);
}

.inout-trend {
    max-height: 800px;
    padding-bottom: calc(50px + 2rem);
}