@media (max-width: 1024px), (max-device-width: 1024px) {
    body {
        > header {
            img {
                margin-left: 10%;
            }
        }


        > section {
            min-height: 200px;
            margin: 0 10% 20px;
        }
    }
}

@media (max-width: 767px), (max-device-width: 767px) {
    .mobile {
        display: inline;
    }

    .desktop {
        display: none;
    }

    body.login.index {
        background-color: var(--background);

        h1 {
            display: none;
        }
    }

    body {

        > header {
            background: none;
            background-color: var(--background);
            height: 56px;

            > a {
                display: block;
                background-color: #000;
                width: 100%;
                height: 32px;
            }

            img {
                margin-left: 0px;
                -moz-background-size: 99px 32px;
                -o-background-size: 99px 32px;
                -webkit-background-size: 99px 32px;
                background-size: 99px 32px;
            }


            nav {
                float: none;
                margin: 0;
                font-size: 0.7em;

                ul {
                    li {
                        line-height: 24px;
                    }
                }

                a {
                }
            }
        }

        > section {
            margin: 0 20px 20px;
        }

        > footer {
            font-weight: normal;
            padding: 10px 0;
            font-size: 0.8em;

            a {
                display: none;
            }
        }
    }

    table.accounts {
        font-size: 0.7em;


        th:first-child {
            width: auto;
        }

        td.account .name, .accountName {
            /*font-size: 1em;*/
            font-weight: bold;
        }

        td.account .description {
            font-size: 0.9em;
        }
    }

    section.login {
        margin: 0;
        padding: 20px;
        background: none;
        background-color: var(--background);
        min-height: 220px;

        header h1 {
            font-size: 2em;
        }

        label {
            font-size: 1.3em;
        }

        input[type=text], input[type=email], input[type=password] {
            padding: 5px;
            font-size: 1.2em;
            width: 240px;
            margin-bottom: 20px;
        }

        input[type=submit] {
            font-size: 1.3em;
            margin-top: 0;
        }

        div.fieldGroup {
            clear: left;
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    /*.mobile {
        display: none;
    }
    .highdpi {
        display: inline;
    }*/
}
