@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$background: rgb(194,0,0);
$text-color: rgb(33,33,33);


$primary-fonts: 'Open Sans Condensed', 'Franklin Gothic', Helvetica, Arial, sans-serif;

$grid-breakpoints: (
  xs: map-get($grid-breakpoints, "xs"),
  sm: map-get($grid-breakpoints, "sm"),
  md: map-get($grid-breakpoints, "md"),
  lg: map-get($grid-breakpoints, "lg"),
  xl: map-get($grid-breakpoints, "xl"),
  hg: 1920px,
);

$container-max-widths: (
  xs: map-get($container-max-widths, "xs"),
  sm: map-get($container-max-widths, "sm"),
  md: map-get($container-max-widths, "md"),
  lg: map-get($container-max-widths, "lg"),
  xl: map-get($container-max-widths, "xl"),
  hg: 1520px,
);

