# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build

on:
  push:
    branches:
      - "main"
  pull_request: 
    branches:
      - "main"
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: read
    outputs:
      version: ${{ steps.set-version-number.outputs.version }}
    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET
      uses: actions/setup-dotnet@v5

      with:
        dotnet-version: 10.x
        source-url: https://nuget.pkg.github.com/AndrewMcLachlan/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.CROSS_REPO_PACKAGE_TOKEN}}
    - name: Set version number
      id: set-version-number
      uses: andrewmclachlan/actions/set-version-number@v4
      with:
        project: 'src/Asm.MooBank.Web.Api'
        version-property-name: 'Version'
    - name: Restore dependencies
      run: dotnet restore Asm.MooBank.slnx
    - name: Setup node and npm
      uses: actions/setup-node@v6
      with:
        node-version: 22
        cache: npm
        cache-dependency-path: 'src/Asm.MooBank.Web.App/package-lock.json'
        registry-url: "https://npm.pkg.github.com"
    - name: Publish
      run: dotnet publish src/Asm.MooBank.Web.Api/Asm.MooBank.Web.Api.csproj --output ${{ github.workspace }}/publish --configuration Release --p:Version=${{ steps.set-version-number.outputs.version }} --p:FileVersion=${{ steps.set-version-number.outputs.version }} --no-restore
    - name: Install App dependencies
      env:
        NODE_AUTH_TOKEN: ${{ secrets.CROSS_REPO_PACKAGE_TOKEN }}
      run: npm ci --prefix src/Asm.MooBank.Web.App --force
    - name: Version App
      run: npm version ${{ steps.set-version-number.outputs.version }} --prefix src/Asm.MooBank.Web.App --force
    - name: Build App
      run: npm run build --prefix src/Asm.MooBank.Web.App
    - name: Copy App
      run: cp -r src/Asm.MooBank.Web.App/dist ${{ github.workspace }}/publish/wwwroot
    - name: Upload Artifact
      uses: actions/upload-artifact@v7.0.0
      with:
        name: publish
        path: ${{ github.workspace }}/publish
    - name: Build Docker image (validation only)
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./src/Asm.MooBank.Web.Api/Dockerfile
        push: false
        tags: |
          ghcr.io/andrewmclachlan/moobank:${{steps.set-version-number.outputs.version}}
          ghcr.io/andrewmclachlan/moobank:latest

  test:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      packages: write
      contents: read
      pull-requests: write
    strategy:
      fail-fast: false
      matrix:
        test-project:
          - { name: "Asm.MooBank.Core.Tests" }
          - { name: "Asm.MooBank.Domain.Tests" }
          - { name: "Asm.MooBank.Infrastructure.Tests" }
          - { name: "Asm.MooBank.Modules.Accounts.Tests" }
          - { name: "Asm.MooBank.Modules.Assets.Tests" }
          - { name: "Asm.MooBank.Modules.Bills.Tests" }
          - { name: "Asm.MooBank.Modules.Budgets.Tests" }
          - { name: "Asm.MooBank.Modules.Families.Tests" }
          - { name: "Asm.MooBank.Modules.Forecast.Tests" }
          - { name: "Asm.MooBank.Modules.Groups.Tests" }
          - { name: "Asm.MooBank.Modules.Institutions.Tests" }
          - { name: "Asm.MooBank.Modules.Instruments.Tests" }
          - { name: "Asm.MooBank.Modules.Reports.Tests" }
          - { name: "Asm.MooBank.Modules.Stocks.Tests" }
          - { name: "Asm.MooBank.Modules.Tags.Tests" }
          - { name: "Asm.MooBank.Modules.Transactions.Tests" }
          - { name: "Asm.MooBank.Modules.Users.Tests" }
    steps:
    - uses: actions/checkout@v6.0.1
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.x
        source-url: https://nuget.pkg.github.com/AndrewMcLachlan/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.CROSS_REPO_PACKAGE_TOKEN}}

    - name: Test ${{ matrix.test-project.name }}
      run: dotnet test tests/${{ matrix.test-project.name }}/${{ matrix.test-project.name }}.csproj --filter '(Category=Unit|Category=Integration)&FullyQualifiedName!~Testing' --verbosity normal --collect:"XPlat Code Coverage" --results-directory:./testresults/${{ matrix.test-project.name }} --configuration Release --settings coverlet.runsettings

    - name: Upload coverage for ${{ matrix.test-project.name }}
      uses: actions/upload-artifact@v7.0.0
      with:
        name: coverage-${{ matrix.test-project.name }}
        path: testresults/${{ matrix.test-project.name }}/**/coverage.cobertura.xml

  coverage-report:
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: read
      pull-requests: write
    steps:
    - uses: actions/checkout@v6.0.1
    
    - name: Download all coverage reports
      uses: actions/download-artifact@v7
      with:
        pattern: coverage-*
        path: ./all-coverage
        merge-multiple: true

    - name: ReportGenerator
      uses: danielpalme/ReportGenerator-GitHub-Action@5.5.1
      with:
        reports: './all-coverage/**/coverage.cobertura.xml'
        targetdir: './coverage-report'
        reporttypes: 'MarkdownAssembliesSummary;Cobertura;'

    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      if: (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')
      with:
        recreate: true
        path: coverage-report/Summary.md

    - name: Write Coverage to Job Summary
      run: cat coverage-report/Summary.md >> $GITHUB_STEP_SUMMARY

  docker-push:
    runs-on: ubuntu-latest
    needs: [build, test]
    if: (github.event_name != 'pull_request' && github.event_name != 'pull_request_target' && github.ref == 'refs/heads/main')
    permissions:
      packages: write
      contents: read
    steps:
    - uses: actions/checkout@v6
    - name: Download publish artifact
      uses: actions/download-artifact@v7
      with:
        name: publish
        path: ${{ github.workspace }}/publish
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./src/Asm.MooBank.Web.Api/Dockerfile
        push: true
        tags: |
          ghcr.io/andrewmclachlan/moobank:${{needs.build.outputs.version}}
          ghcr.io/andrewmclachlan/moobank:latest
        cache-from: type=registry,ref=ghcr.io/andrewmclachlan/moobank:latest
        cache-to: type=inline

  staging:
    concurrency:
      group: moobank-deploy-group
      cancel-in-progress: true
    needs: [build, test, docker-push]
    if: (github.event_name != 'pull_request' && github.event_name != 'pull_request_target' && github.ref == 'refs/heads/main')
    uses: AndrewMcLachlan/actions/.github/workflows/deploy-azure.yml@v4
    with:
      environment: Staging
      artifact-name: publish
      app-name: moobank
      resource-group: MooBank
      slot-name: staging
      container-image: ghcr.io/andrewmclachlan/moobank:${{needs.build.outputs.version}}
      container-name: main
    secrets:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

  production: 
    concurrency:
      group: moobank-deploy-group
      cancel-in-progress: true
    needs: staging
    if: (github.event_name != 'pull_request' && github.event_name != 'pull_request_target' && github.ref == 'refs/heads/main')
    uses: AndrewMcLachlan/actions/.github/workflows/azure-appservice-swap-slot.yml@v4
    with:
      environment: Production
      app-name: moobank
      resource-group: MooBank
      slot-name: staging
    secrets:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

  post-production:
    concurrency:
      group: moobank-deploy-group
      cancel-in-progress: true
    needs: [build, production]
    if: (github.event_name != 'pull_request' && github.event_name != 'pull_request_target' && github.ref == 'refs/heads/main')
    uses: AndrewMcLachlan/actions/.github/workflows/deploy-azure.yml@v4
    with:
      environment: Post-Production
      artifact-name: publish
      app-name: moobank
      resource-group: MooBank
      slot-name: staging
      container-image: ghcr.io/andrewmclachlan/moobank:${{needs.build.outputs.version}}
      container-name: main
    secrets:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
